
@import '../../styles/variables.css';

.SkillTable {
  margin-top: 1em;
}

.SkillTable-title {
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--lightgrey);
  padding: .2em .5em;
  margin-bottom: .5em;
}

.SkillTable-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SkillTable-item {
  overflow: hidden;
  margin-bottom: .5em;
}

.SkillTable-item-icon {
  float: left;
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
  border-radius: 50%;
  background-color: var(--lightgrey);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: svg("ei#arrow-right", "[fill]: var(--blue)");
}
