<div class="experience-subsection">
  <h3>
    <span class="experience-title">{{#block "title"}}{{/block}}</span>
    {{#block "period"}}{{/block}}
  </h3>
  <em class="company-name">{{#block "company"}}{{/block}}</em>
  <div class="product-desc">
    {{#block "description"}}{{/block}}
  </div>
</div>