
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}JavaScript developer (internship){{/content}}
{{#content "period"}}feb 2010 to jul 2010 (6 months){{/content}}
{{#content "company"}}A2dms – Antony, France{{/content}}

{{#content "description"}}
  I worked on a <span class="highlight-blue">technical documentation management web application</span> including document registers and approval flows
  <ul class="tasks-list">
    <li>Developing an <span class="highlight-orange">Ext JS (JavaScript) web application</span> with a dynamic and user friendly interface</li>
    <li>Implemented a <span class="highlight-orange">Zend Framework (PHP) backend</span> to provide JSON data from a <span class="highlight-orange">MySQL database</span></li>
  </ul>
{{/content}}

{{/extend}}
