
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}Front end developer{{/content}}
{{#content "period"}}aug 2010 to sep 2012 (2 years){{/content}}
{{#content "company"}}Amadeus SAS – Sophia Antipolis, France{{/content}}

{{#content "description"}}
  I worked on two different web based products: Next Generation Profile – <span class="highlight-blue">traveler profiles management</span> for American Express, eRetail - <span class="highlight-blue">Customizable booking flow software</span> for airlines
  <ul class="tasks-list">
    <li>Developing <span class="highlight-orange">web user interfaces</span> with JavaScript and JSP TagLibraries</li>
    <li><span class="highlight-orange">Quick learning</span> of Amadeus internal frameworks and libraries</li>
    <li>Writing <span class="highlight-orange">technical specifications</span> and leading <span class="highlight-orange">corporate presentations</span></li>
  </ul>
{{/content}}

{{/extend}}
