
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}Front end developer{{/content}}
{{#content "period"}}jul 2013 to jun 2014 (1 year){{/content}}
{{#content "company"}}Bookatable - London, UK{{/content}}

{{#content "description"}}
  I worked on <span class="highlight-blue">Bookatable's platform</span> helping restaurants to manage bookings and walk-ins through 3 different view, a simple booking list, a table plan and a timeline view
  <ul class="tasks-list">
    <li>Styling using <span class="highlight-orange">SASS</span> with the help of <span class="highlight-orange">Susy</span></li>
    <li>Developed features on a <span class="highlight-orange">Javascript 1-page application</span> and refactored many parts of it</li>
    <li>Implemented <span class="highlight-orange">Grunt tasks</span> and <span class="highlight-orange">Jasmine unit tests</span></li>
    <li>Technically designed side parts of the platform, using <span class="highlight-orange">Backbone</span> and <span class="highlight-orange">Marionette</span>, as well as <span class="highlight-orange">RequireJS</span></li>
  </ul>
{{/content}}

{{/extend}}
