
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}PHP developer (internship){{/content}}
{{#content "period"}}sep 2008 to feb 2009 (6 months){{/content}}
{{#content "company"}}Infotel – Bagnolet, France{{/content}}

{{#content "description"}}
I worked on a <span class="highlight-blue">web based business system</span> including a newspapers database, contacts, business agenda, activity reports generation, user-friendly database administration
<ul class="tasks-list">
  <li><span class="highlight-orange">Collaborative work</span> among a 10-person team</li>
  <li>Developed a <span class="highlight-orange">PHP application with Zend Framework</span> in an MVC architecture</li>
  <li>Implemented <span class="highlight-orange">dynamic Ajax features</span> thanks to the Javascript libraries <span class="highlight-orange">Prototype and Scriptaculous</span></li>
</ul>
{{/content}}

{{/extend}}
