
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}Front end developer{{/content}}
{{#content "period"}}sep 2012 to jun 2013 (10 months){{/content}}
{{#content "company"}}Qatarlyst Limited - London, UK{{/content}}

{{#content "description"}}
  I worked on <span class="highlight-blue">A web trading application</span> aimed to the global insurance industry
  <ul class="tasks-list">
    <li><span class="highlight-orange">CSS styling</span> of the whole application according to the provided UX design</li>
    <li>Developed <span class="highlight-orange">JavaScript components using jQuery</span></li>
    <li><span class="highlight-orange">Tranversal role</span> among several backend development teams</li>
    <li>Worked in an <span class="highlight-orange">Agile environment</span></li>
  </ul>
{{/content}}

{{/extend}}
