
{{#extend "cv/experience/_subsection"}}

{{#content "title"}}Front end developer (contract){{/content}}
{{#content "period"}}jul 2014 to dec 2014 (6 months){{/content}}
{{#content "company"}}Sportlobster - London, UK{{/content}}

{{#content "description"}}
  <p>I worked as a front end developer on a <span class="highlight-blue">sport social network</span>.</p>
  <p>I helped to <span class="highlight-blue">maintain main features</span> such as <span class="highlight-green">post feeds</span>, <span class="highlight-green">blog posting</span>, <span class="highlight-green">fanzones and events display</span>, and I developed many <span class="highlight-blue">new features</span> like <span class="highlight-green">Twitter-like user mentions and hashtags</span>, <span class="highlight-green">live scores widget</span> and <span class="highlight-green">live sport alerts</span> using PubNub for instant messages thanks to WebSockets.</p>
  <p>I also made many improvements on the <span class="highlight-blue">website performance</span> using <span class="highlight-orange">Grunt tasks</span> to serve <span class="highlight-green">minimal</span> and <span class="highlight-green">compressed</span> assets.</p>

  <ul class="tasks-list">
    <li>Javascript: <span class="highlight-orange">Backbone</span>, <span class="highlight-orange">jQuery</span>, <span class="highlight-orange">RequireJS</span>, and also <span class="highlight-orange">Moment</span> to process dates and a few <span class="highlight-orange">Bootstrap</span> plugins</li>
    <li>CSS: <span class="highlight-orange">Less</span>, <span class="highlight-orange">Bootstrap</span></li>
    <li>Other: <span class="highlight-orange">Mustache</span> for templating, <span class="highlight-orange">Grunt</span> for assets processing, <span class="highlight-orange">PubNub</span> for live notifications using WebSockets, and <span class="highlight-orange">Kissmetrics</span> for website analytics</li>
  </ul>
{{/content}}

{{/extend}}
