
// Styles for the warning message to people using old versions of IE
// ------------------------------------

.outdated-warning {
    text-align: center;
    padding: 1em;
    background-color: $brand-red;
    color: $brand-white;

    a {
        color: lighten($brand-blue, 30%);

        &:hover {
            color: $brand-blue;
        }
    }
}