
// Blog posts list page
// ------------------------------------

// General page
.site-blog-posts {
  margin: 0 2em;
}


// Blog post list
.blog-posts {
  margin-top: 3em;
}


// A single post
.post {
  margin-bottom: 2em;
}

// Post title
.post__title {
  margin: 0;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}


// Single article page
// ------------------------------------

// Article
.blog-article {
  margin: 0 2em;

  p {
    text-align: justify;
  }
}

// Article content
.article-content {
  margin-bottom: 5em;
}