
@import "../styles/variables.css";

/* Wrapper used to set a maximum width */
.u-site-width {
  lost-center: var(--site-max-width);
  lost-utility: clearfix;
}

/* Blue text */
.u-blue {
  color: var(--blue);
}
