
:root {

  /* Font sizes */
  --h1-size: 3.998em;
  --h2-size: 2.827em;
  --h3-size: 1.999em;
  --h4-size: 1.414em;

  /* Font weights */
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 500;
  --font-heavy: 700;
  --font-black: 900;

  /* Font families */
  --body-font: 'Roboto', sans-serif;
  --big-font: 'Raleway', sans-serif;

  /* Colors */
  --black: #1F1F1F;
  --grey: #8A8A8A;
  --lightgrey: #EBEBEB;
  --white: #fff;
  --beige: #EDF0E1;
  --blue:  #009ED3;
  --orange: #E95C0D;
  --red: #e74c3c;
  --green: #48A770;

  /* Layout sizes */
  --header-height: 4em;
  --header-border-height: 0.313em;
  --site-max-width: 65rem;

}

@custom-media --small-only only screen and (max-width: 40em);

@custom-media --medium-up   only screen and (min-width: 40.063em);
@custom-media --medium-only only screen and (min-width: 40.063em) and (max-width: 45em);

@custom-media --large-up   only screen and (min-width: 45.063em);
@custom-media --large-only only screen and (min-width: 45.063em) and (max-width: 64em);

@custom-media --xlarge-up   only screen and (min-width: 64.063em);
@custom-media --xlarge-only only screen and (min-width: 64.063em) and (max-width: 78em);

@custom-media --xxlarge-up   only screen and (min-width: 78.063em);
