:root {
  /* Font sizes */
  --h1-size: 3.998rem;
  --h2-size: 2.827rem;
  --h3-size: 1.999rem;
  --h4-size: 1.414rem;

  /* Colors */
  --black: #272823;
  --white: #fff;
  --blue: #199fd1;
  --orange: #fd971f;
  --purple: #f92672;
  --green: #a6e22e;
}
