
@import '../styles/variables.css';

.Home {
  @media (--medium-up) {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-60%);
    padding: 0 2em;
  }
}

.Home-hero {
  font-family: var(--big-font);
  letter-spacing: -0.01em;
  width: 100%;
  text-transform: uppercase;
  padding: 0 0 1em;
  text-align: center;
  background-size: cover;
  color: var(--white);

  @media (--small-only) {
    padding: 5em 2em 0;
  }
}

.Home-hero-title {
  font-weight: var(--font-heavy);
  font-size: var(--h2-size);
}

.Home-hero-description {
  font-size: var(--h3-size);
  line-height: 1.4;
  margin-top: 1em;
  b, a {
    font-weight: var(--font-bold);
  }
}


.Home-buttons {
  font-size: 1.5em;
  font-weight: var(--font-thick);
  text-align: center;
  margin-top: 1em;
  lost-utility: clearfix;
  padding: 0 2em;

  .Button {
    min-width: auto;
    margin-bottom: 1em;

    @media (--small-only) {
      lost-column: 1;
    }

    @media (--medium-only) {
      lost-column: 1/3;
    }
    @media (--large-up) {
      padding: 1em 3em;
      + .Button {
        margin-left: 1em;
      }
    }
  }
}
