
<header class="site-head">

  <div id="menu-link" class="site-head__hamburger"><i class="fa fa-bars"></i></div>
  <div class="site-width-wrapper">

    <a class="site-head__title is-internal-link" href="/">Adrien Antoine</a>
    <span class="site-head__subtitle">front end developer</span>

    <nav class="site-head__menu">
      <ul>
        <li><a class="is-internal-link" href="/">Home</a></li>
        <li><a class="is-internal-link" href="/cv.html">CV</a></li>
      </ul>
    </nav>

  </div>

</header>
