
@import '../styles/variables.css';

.App {
  background: url(https://s3.eu-west-2.amazonaws.com/adriantoine/background/home.jpg) no-repeat center center fixed var(--black);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.App--no-background-image {
  background-image: none;
  background-color: var(--white);
}
