
@import "styles/variables.css";

.SocialLink {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;

  + .SocialLink {
    margin-left: .3em;
  }
}

.SocialLink-facebook {
  background-color: #3b5998;
}
.SocialLink-twitter {
  background-color: #55acee;
}
.SocialLink-github {
  background-color: #333;
}
.SocialLink-tumblr {
  background-color: #35465c;
}
.SocialLink-linkedin {
  background-color: #0976b4;
}
.SocialLink-google-plus {
  background-color: #dd4b39;
}
