
@import '../styles/variables.css';

.App {
  background-image: url(/img/hero-bg.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App--no-background-image {
  background-image: none;
}

.Page {
  width: 100%;
  margin-bottom: 5em;
  padding-top: var(--header-height);
}
