
@import "styles/variables.css";

/*Header of the site */

.Header {

  position: fixed;
  width: 100%;
  height: var(--header-height);
  color: var(--blue);
  overflow: hidden;
  padding: 0 2em;

  .u-site-width {
    position: relative;
    height: calc(var(--header-height) - var(--header-border-height));
  }

  @media (--desktop) {
    text-align: right;
  }

  @media (--mobile) {
    text-align: center;
  }

}


/* Title insite the header */

.Header-title {

  font-family: var(--big-font);
  letter-spacing: -0.01em;
  font-weight: var(--font-black);
  font-size: var(--h3-size);
  line-height: 2em;
  text-decoration: none;
  color: var(--white);

  &:hover {
    color: var(--white);
  }

}


/* Subtitle inside the header */

.Header-subtitle {

  font-size: var(--h4-size);
  font-weight: var(--font-light);
  margin-left: .5em;

  @media (--mobile) {
    display: none;
  }

}


/* Hamburger icon opening the left sliding menu */

.Header-hamburger {

  position: absolute;
  left: 0;
  top: 0;
  height: calc(4em - var(--header-border-height));
  width: calc(4em - var(--header-border-height));
  line-height: calc(4em - var(--header-border-height));
  cursor: pointer;
  text-align: center;
  z-index: 1;

  i {
    font-size: 2em;
    line-height: 1.9;
  }

  &:hover {
    background-color: lighten(var(--black), 10%);
    color: var(--white);
  }

  display: none;
  @media (--desktop) {
    display: block;
  }

}


/* Menu on the top right */

.Header-menu {
  font-weight: var(--font-heavy);
  font-size: var(--h4-size);
  position: absolute;
  bottom: 0;
  right: 0;

  ul {
    margin: .4em .5em;
  }

  li {
    display: inline-block;
    margin-right: .5em;
  }

  a {
    text-decoration: none;
    color: var(--grey);

    &.selected, &:hover {
      color: var(--white);
      text-decoration: none;
    }
  }

  @media (--desktop) {
    display: none;
  }

}
