<section class="cv-section interest-section">
  <h2>Interests</h2>
  <div class="interest-subsection">Movies, Music, <a href="http://photo.adriantoine.com/">Photography</a>, Web design, Travelling, Sports</div>
</section>