
@import '../../styles/variables.css';

.Projects {
  text-align: center;
  margin-bottom: 10em;

  .Page-hero {
    background-image: url(https://s3.eu-west-2.amazonaws.com/adriantoine/background/london.jpg);
    margin-bottom: 5em;
  }
}

.Projects-comingSoon {
  font-size: var(--h1-size);
}
