
@import "../styles/variables.css";

.Footer {
  text-align: center;
  width: 100%;
  padding-bottom: 2em;
}

.Footer--fixed {
  color: var(--white);
  @media (--medium-up) {
    position: absolute;
    bottom: 0;
  }
}

.Footer-socialLinks {
  font-size: 2.5em;
  margin-top: 1em;
}
.Footer-credits {
  font-size: .7em;
}
