
// Header of the site
// ------------------------------------
 .site-head {

    position: relative;
    height: $header-height;
    background-color: $brand-black;
    color: $brand-blue;
    overflow: hidden;
    border-bottom: $header-border-height solid $brand-blue;
    padding: 0 2em;

    @media only screen and (max-width: $column-bp) {
        text-align: right;
    }

    @media only screen and (max-width: $no-subtitle-bp) {
        text-align: center;
    }

    .site-width-wrapper {
        position: relative;
        height: $header-height - $header-border-height;
        max-width: $site-max-width;
        margin: auto;
    }

}


// Title insite the header
// ------------------------------------
.site-head__title {

    @extend %thick-font;
    font-size: $h3-size;
    line-height: 2em;
    text-decoration: none;
    color: $brand-white;

    &:hover {
        color: $brand-white;
    }

}


// Subtitle inside the header
// ------------------------------------
.site-head__subtitle {

    font-family: $header-font;
    font-size: $h4-size;
    font-weight: 100;
    margin-left: .5em;

    @media only screen and (max-width: $no-subtitle-bp) {
        display: none;
    }

}


// Hamburger icon opening the left sliding menu
// ------------------------------------
.site-head__hamburger {

    position: absolute;
    left: 0;
    top: 0;
    height: 4em - $header-border-height;
    width: 4em - $header-border-height;
    line-height: 4em - $header-border-height;
    cursor: pointer;
    text-align: center;
    z-index: 1;

    i {
        font-size: 2em;
        line-height: 1.9;
    }

    @media only screen and (min-width: $column-bp) {
        display: none;
    }

    &:hover {
        background-color: lighten($brand-black, 10%);
        color: $brand-white;
    }

}


// Menu on the top right
// ------------------------------------
.site-head__menu {
    @extend %thick-font;
    font-size: $h4-size;
    position: absolute;
    bottom: 0;
    right: 0;

    ul {
        margin: .4em .5em;
    }

    li {
        display: inline-block;
        margin-right: .5em;
    }

    a {
        text-decoration: none;
        color: $brand-grey;

        &.selected, &:hover {
            color: $brand-white;
        }
    }

    @media only screen and (max-width: $column-bp) {
        display: none;
    }

}