<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <link rel="alternate" href="http://adriantoine.com" hreflang="en-gb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Adrien Antoine, front end developer</title>
    <meta name="description" content="Personal website of Adrien Antoine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="Wm3xebcxig17niJ8hPvj1zOB4Yyzx1_ZUJjILuhHCpk" />

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-46010611-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>

  </head>
  <body>

    <div id="app">{{{ body }}}</div>

    <script src="{{jsPath}}"></script>

  </body>
</html>
