@import '../../styles/variables.css';

.AboutMe {
  margin-top: 6em;
  margin-bottom: 10em;
  padding: 0 3em;
  position: relative;
  overflow: hidden;

  p {
    line-height: 1.5;
    font-size: 1.2em;
  }
}

.AboutMe-content {
  max-width: 45em;
  margin: auto;
}
