<ul class="credits">
  <li>Website entirely made by myself, you can look at the code on <a href="https://github.com/adriantoine/adriantoine.github.com">GitHub</a>, by the way, it is responsive :) </li>
  <li>"Computer" symbol by <a href="http://thenounproject.com/bravo/">Juan Pablo Bravo</a>, from <a href="http://thenounproject.com/">The Noun Project</a> collection.</li>
  <li>"Building" symbol by <a href="http://thenounproject.com/ohme/">Phil Ohme</a>, from <a href="http://thenounproject.com/">The Noun Project</a> collection.</li>
  <li>"Code" symbol by <a href="http://thenounproject.com/bnvk/">Brennan Novak</a>, from <a href="http://thenounproject.com/">The Noun Project</a> collection.</li>
</ul>
