
<div class="social-links">

  <div class="site-width-wrapper">
    <ul>
      <li><a class="facebook" href="https://www.facebook.com/alshten" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="https://twitter.com/adriantoine" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="github" href="https://github.com/adriantoine" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a class="tumblr" href="http://photo.adriantoine.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
      <li><a class="linkedin" href="http://uk.linkedin.com/in/adriantoine/en" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="google-plus" href="https://plus.google.com/+AdrienAntoine/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>

</div>
