<!DOCTYPE html>

<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} | {{#block "pageTitle"}}{{/block}}</title>
    <meta name="description" content="Personal website of Adrien Antoine">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
{{!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
 --}}
  </head>
  <body>

    {{> layout/sliding-menu }}

    <div class="wrapper">

      {{> layout/header }}

      <!--[if lt IE 9]>
        <p class="outdated-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="site-body">
        {{#block "main"}}{{/block}}
      </div>

    </div>

    {{#block "scripts"}}

      <script src="/js/main.js"></script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46010611-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

    {{/block}}

  </body>
</html>
